.tic-tac-toe-container {
    display: flex;
    flex-direction: column;
    height: 623px;
    width: 460px;
    margin: 139px 490px;
}

.section2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 461px;
    width: 460px;
    margin: 15px 0;
}

.rows {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.squares {
    display: flex;
    width: 140px;
    height: 140px;
    background-color: #1F3641;
    box-shadow: 0px -8px 0px 0px #10212A inset;
    border-radius: 15px;
    cursor: pointer;
}

.refresh-button {
    padding: 16px;
    cursor: pointer;
    background-color: #A8BFC9;
    box-shadow: 0px -4px 0px 0px #6B8997 inset;
    border-radius: 15px;
    border: none;
}

.refresh-button:hover {
    background-color: #DBE8ED;
}

#refresh-icon {
    height: 20px;
    width: 20px;
}
